ul {
   list-style-type: none;
}

li{
    display: inline;
}

body{
    background-color:#f6d2e6;
    font-family: 'Lucida Console', monospace;
    text-align: center;
}

a {
    color:rgb(198, 56, 156);
}

a:hover{
    color: crimson;
}

h1{
    color: #c21a76;
}

.galeria img{
    width: 30%;
    height: 360px;
    border-radius: 50px;
    transition: transform 0.2s;
}

.galeria img:hover{
    transform: scale(1.05);
}

h2{
    color:#c21a76
}

.biografia{
    display: flex;
}

.biografia img{
    width: 200px; /*mudar a largura*/
}

.biografia p{
    max-width: 50%;
    color: #c21a76;
}

.contato img{
    width: auto;
    height: 80px;
    transition: transform 0.2s;
    padding: 10px;
}
.contato img:hover{
    transition: scale(1.5);
}

.contato{
    padding: 80px;
}

.projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.projetos img{
    width: 200px; /*mudar a largura*/
}

.projetos p{
    max-width: 50%;
    color: #c21a76;
}
.item-projeto {
    display: flex;
  
}

.tudo {
    display: flex;
    justify-content: center;
}