ul {
   list-style-type: none;
}

li{
    display: inline;
}

body{
    background-color:#f6d2e6;
    font-family: 'Lucida Console', monospace;
    text-align: center;
}

a {
    color:rgb(198, 56, 156);
}

a:hover{
    color: crimson;
}

h1{
    color: #c21a76;
}

